@color-background: #151515;
@color-foreground: #B2B2B2;
@color-foreground-disabled: darken(@color-foreground, 20%);
@color-foreground-focused: #FFFFFF;
@color-foreground-hovered: #FFFFFF;
@color-foreground-pressed: #FFFFFF;
@color-body: #0F0F0F;
@color-body-focused: #1F1F1F;
@color-body-hovered: #292929;
@color-body-pressed: #000000;
